

 
 
 
 <nav class="navbar navbar-expand-lg navbar-light shadow" >
  <div class="container-fluid">
          <h6 class="display-6 " style="font-family:Brush Script MT, Brush Script Std, cursive; color: red;">Sumera Tours And Travel</h6>
          <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-link active text-secondary m-2"  aria-current="page" href="#"><i class="fas fa-plane" style="font-size:20px;text-align: center;"></i></a>
        <a class="nav-link text-secondary m-2" href="#"><i class="fas fa-hotel" style="font-size:20px;text-align: center; "></i></a>
        <a class="nav-link text-secondary m-2" href="#"><i class="fas fa-home" style="font-size:20px;text-align: center; "></i></a>
        <a class="nav-link text-secondary m-2 " href="#"><i class="fas fa-bus" style="font-size:20px;text-align: center; "></i></a>
        <a class="nav-link text-secondary m-2" aria-current="page"  routerLink="/holiday"><i class="fas fa-umbrella-beach" style="font-size:20px;text-align: center; "></i></a>
        <a class="nav-link text-secondary m-2" href="#"><i class="fab fa-cc-visa" style="font-size:20px;text-align: center; "></i></a>

        <div class="dropdown pt-2">
          <button class="btn border rounded dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          + More
          </button>
          <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-car" style="font-size:20px;text-align: center; "></i>&nbsp; Cabs <span class="badge bg-danger">New</span></a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-gift" style="font-size:20px;text-align: center; "></i>&nbsp; Gift Voucher <span class="badge bg-danger">New</span></a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-train" style="font-size:20px;text-align: center; "></i>&nbsp; Trains</a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-ship" style="font-size:20px;text-align: center; "></i>&nbsp; Cruise</a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-tram" style="font-size:20px;text-align: center; "></i>&nbsp; Freight</a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-hiking" style="font-size:20px;text-align: center; "></i>&nbsp; Adventures</a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-mosque" style="font-size:20px;text-align: center; "></i>&nbsp; Monuments</a>
            <a class="dropdown-item text-secondary p-2" href="#"><i class="fab fa-mixer" style="font-size:20px;text-align: center; "></i>&nbsp; Xplore</a>
          </div>
        </div>
        <div class="dropdown pt-3"  >
          <button class="btn dropdown-toggle justify-content-end" style=" margin-left:100px ;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               My Accounts
          </button>
          <div class="dropdown-menu p-2 col-4" aria-labelledby="dropdownMenuButton">         
              <div class="col-2">
                <a class="dropdown-item text-secondary p-2" href="#"><i class="fas fa-user" style="font-size:40px; "></i></a>

              </div>
            <div class="col-3">
                <p style="padding-left:30px; font-size: 13px;">
                  My&nbsp;Bookings&nbsp;&nbsp;  My&nbsp;Refands</p> </div>  
           
                  <button class="btn btn-danger btn-sm ">Login</button>
           <button class="btn btn-success btn-sm">Signup</button>
          
           <p style="font-size: 13px;" class="pt-3">- Yatra For Bussiness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  - Yatra For Travel </p> 
          </div>              
          </div>
      

        <div class="dropdown pt-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Support &nbsp;<span class="badge bg-danger">New</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i>  &nbsp;Talk To us <span class="badge bg-danger">New</span> </a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i>  &nbsp;Check Your Refund <span class="badge bg-danger">New</span></a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i> &nbsp;Contact Us</a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i> &nbsp;Complete Booking</a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i> &nbsp;Make a Payment</a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i> &nbsp;Flight Cancellation Charges </a>
            <a class="dropdown-item text-secondary" href="#"> <i class="fas fa-caret-right"></i> &nbsp;Complete Holidays Booking</a>

          </div>
        </div>

        <a class="nav-link text-dark pt-4 " href="#">Offers</a>
        <a class="nav-link text-dark pt-4" href="#">Yatra For Bussiness</a>

        
      
      
     
<!--         
       <a class="nav-link text-secondary" aria-current="page" routerLink="countries">Country list</a>
         <a class="nav-link text-light" aria-current="page" routerLink="countries-add">Add Country</a> 
      <a class="nav-link text-light" aria-current="page" routerLink="city">City list</a> 
      <a class="nav-link text-light" aria-current="page" routerLink="airlines">Airline list</a>   -->
        


<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mt-3" style="margin-left: 40px ;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Admin
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
             <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" required/>
           
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
             <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" required/>
           
          </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">  <a class="nav-link text-light" aria-current="page" [routerLink]="['/afterlogin']">Log in</a> </button>
      </div>
    </div>
  </div>
</div>
 
    
     </div>
    </div>
  </div>
</nav>  















<router-outlet></router-outlet>










<section>
  <div class="conatiner">
    <div class="row">
    <div class="col-md-4 col-lg-4 shadow m-5">
      <h5 class="text-center">Book Flights, Hotels and Holiday Packages</h5>
      <div class="col" style="margin-left:70px ;">
      <button type="button" class="btn btn-outline-danger m-2 justify-content-center">ONE WAY</button>
<button type="button" class="btn btn-outline-secondary m-2 "  >ROUND TRIP</button>
<button type="button" class="btn btn-outline-secondary m-2" >MULTI-CITY</button>




<div class="row">
  <div class="col-md-3 col-lg-6">
  <form class="m-3"> <label for="color" class="text-secondary border-bottom ">
    <h6>Depart From</h6></label>
    <input name="color" id="color" list="colors" class="border-top-0 border-end-0 border-start-0"   > 
   </form>
 
   
    <datalist id="colors">
   
      <option><br>India</option> 
      <br>
  
     <option>Pune</option>
    <option>Nagpur</option> 
     <option>Aurangabad</option> 
     <option>Haydrabad</option> 
      <option>Sangli</option> 
   <option>Baramati</option> 
     <option>Mumbai</option> 
      <option>Mumbai</option>
    <option>Mumbai</option> 
     <option>Mumbai</option> 
        </datalist>
</div>
<div class="col-md-3 col-lg-6">
        <form class="m-3"> <label for="color" class="text-secondary border-bottom "><h6> &nbsp; Going To</h6></label>
         <input name="color" id="color" list="colors" class="border-top-0 border-end-0 border-start-0 "   > 
        </form>
      
        
         <datalist id="colors">
        
           <option><br>India</option> 
           <br>
       
          <option>Pune</option>
         <option>Nagpur</option> 
          <option>Aurangabad</option> 
          <option>Haydrabad</option> 
           <option>Sangli</option> 
        <option>Baramati</option> 
          <option>Mumbai</option> 
           <option>Mumbai</option>
         <option>Mumbai</option> 
          <option>Mumbai</option> 
             </datalist>
 
 </div>       
</div>
<div class="row">
  <div class="col-md-3 col-lg-6">
  <h6 class="text-secondary pt-3" style="margin-left:15px ;">Departure Date</h6>
<form>
  <input type="date" id="birthday" name="birthday" class=" p-1 border-top-0 border-end-0 border-start-0 " placeholder="none" style="margin-left:15px ;">
</form></div>
<div class="col-md-3 col-lg-6">
<h6 class="text-secondary pt-3" style="margin-left:15px ;">Return Date</h6>
<form>
  <input type="date" id="birthday" name="birthday" class=" p-1 border-top-0 border-end-0 border-start-0 " placeholder="none" style="margin-left:15px ;">
</form>
</div></div>
 
<div class="col-lg-12 mt-4" >


<div class="row">
  <h5 class="text-secondary">Traveller</h5>

  <div class="col-sm-4">
    <select class="browser-default custom-select mb-4" id="select">
<option value="" disabled="" selected="">Kids(0-14)</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
  </div>

  <div class="col-sm-4">
    <select class="browser-default custom-select mb-4" id="select">
<option value="" disabled="" selected="">Adults(15-64)</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
  </div>

  <div class="col-sm-4">
    <select class="browser-default custom-select mb-4" id="select">
<option value="" disabled="" selected="">Seniors(65+)</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
  </div>

</div>

</div>


<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1" style="height:15px ; width: 15px;"> &nbsp;
  <label class="custom-control-label mb-2" for="customCheck1"><span class="text-secondary" > Non Stop Flights</span></label>
  <input type="checkbox" class="custom-control-input" id="customCheck1" style="height:15px ; width: 15px;margin-left:50px ;">  &nbsp;
  <label class="custom-control-label mb-2" for="customCheck1"><span class="text-secondary">Student Fare</span></label>
  <br>
  <input type="checkbox" class="custom-control-input" id="customCheck1" style="height:15px ; width: 15px;">  &nbsp;
  <label class="custom-control-label mb-2" for="customCheck1"><span class="text-secondary">Armed Forces</span></label>
  <input type="checkbox" class="custom-control-input" id="customCheck1" style="height:15px ; width: 15px;margin-left:70px ;" checked>  &nbsp;
  <label class="custom-control-label mb-2" for="customCheck1"><span class="text-secondary">Senior Cirizen</span></label>
</div>


  
  <button type="button" class="btn btn-primary btn-lg m-3">Large button  &rarr;</button>
<button type="button" class="btn btn-danger btn-lg m-3">    Large button  &rarr;</button>



      </div>
     
 </div> 
    



    <div class="col-md-3 col-lg-6">
   
<div class="img m-5">
  <img src="https://www.yatra.com/ythomepagecms/media/banner/2022/May/cc111d32c7363a4f34bd7998cfc4282b.jpg" alt="">

</div>
<div class="row" style="margin-left:30px ;">
<div class=" col-5 img m-2">
  <img src="https://www.yatra.com/ythomepagecms/media/double_banner/2022/Jul/fef56331c216096cccf28c135be0a915.jpg" alt="">
 
</div>
<div class="col-5 img m-2" style="margin-left: 10px ;" >
 <img src="https://www.yatra.com/ythomepagecms/media/double_banner/2022/Feb/a98ec4c1b58b92e98e5d01890e72e5ec.jpg"  alt="" style="margin-left:50px ;"> 
</div>
</div>




<div class="row">
  <div class="col-md-6 col-lg-6">
    <h5 class="m-5">Yatras Specials    <a href="#" style="text-decoration:none ;">View All</a></h5>
   </div>  
</div>





<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2022/Jul/003b00eca107c4c340e00faa5024c92d.jpg" class="card-img-top" alt="...">
     
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2022/Jun/c4551a057281232c2576741cd186d832.jpg" class="card-img-top" alt="...">
      
      
     
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.yatra.com/ythomepagecms/media/todayspick_home/2022/Jun/70ccb38e2686e43347112bcfd527370f.jpg" class="card-img-top" alt="...">
    
       
     
    </div>
  </div>
</div>

<div>
  
</div>


 </div>
</div>
</div>
   









</section>

 